@media (max-width:670px){
    #header-nav {
        display: none;
    }
    #header 
    {
        justify-content: flex-start;
        
    }
    .header-menu 
    {
        display: block;
    }
    .header--img 
    {
        position: absolute;
        left: 0%;
    }
    .modal-content 
    {
        width: 100%;
    }
    #header-menu > li 
{
    
    padding: 15px;
    position: relative;
    list-style: none;
    font-size: 20px;
    margin-top: 10px;
}
#slider 
{
    height: 1000px;
    margin-top: 100px;
    background: #020230;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    flex-direction: column-reverse;
}
#slider .slider-all-text
{
    color: #fff;
    padding: 20px;
}
.slider-all-text .all-text-heading 
{
       font-size: 30px;
       margin-bottom: 20px;
       line-height: 40px;
}
.slider-all-text .all-text-about 
{
    margin-bottom: 20px;
    line-height: 28px;
    
}
.slider-all-text .all-text-box 
{
    padding: 13px;
    width: 156px;
    background: #dc3545;
    border-radius: 28px;
    text-align: center;
}
#slider img 
{
    padding: 20px;
    width: 90%;
}
#content .content-heading 
{
    font-size: 15px;
    color: #e83e8c;
    margin-bottom: 0px;
    padding: 10px;
}
#content .content-sec-heading 
{
    font-size: 22px;
    padding: 10px;
}
#content-2 
{
    height: 1500px;
}
#content-2 img 
{
    width: 150px;
}
.content-box-2 
{
    margin-left: 10px;
    margin-right: 10px; 
    width: 296px;
    
}
.content-box-2-about 
{
    width: 200px;
}
#content-3 
{
    flex-direction: column;
}
#content-3 .src-box
{
    width: 100%;
    position: relative;
    background: none;
}
.src-box-txt 
{
    width: 100%;
    border-radius: 0px;
    margin-bottom: 10px;
}
.src-box-sbm 
{
    width: 100%;
   
}

}
@media (min-width:671px) and (max-width:1010px){
    #header-nav {
        display: none;
    }
   
    .header-menu 
    {
        display: block;
    }
    .header--img 
    {
        position: absolute;
        left: 0%;
    }
    #slider 
{
    height: 800px;
    margin-top: 100px;
    background: #020230;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}
#slider .slider-all-text
{
    color: #fff;
    padding: 20px;
}
.slider-all-text .all-text-heading 
{
       font-size: 35px;
       margin-bottom: 20px;
       line-height: 45px;
}
.slider-all-text .all-text-about 
{
    margin-bottom: 20px;
    line-height: 28px;
    
}
.slider-all-text .all-text-box 
{
    padding: 10px;
    width: 156px;
    background: #dc3545;
    border-radius: 28px;
    text-align: center;
}
#slider img 
{
    padding: 20px;
    width: 400px;
}
#content-3 
{
    flex-direction: column;
}

}