@media (max-width:650px){
    #header-nav {
        display: none;
    }
    #header 
    {
        justify-content: flex-start;
        
    }
    .header-menu 
    {
        display: block;
    }
    .header--img 
    {
        position: absolute;
        left: 0%;
    }
    .modal-content 
    {
        width: 100%;
    }
}
@media (min-width:651px) and (max-width:1010px){
    #header-nav {
        display: none;
    }
    #header 
    {
        justify-content: flex-start;
        
    }
    .header-menu 
    {
        display: block;
    }
}