@media (max-width:670px){
    #header-nav {
        display: none;
    }
    #header 
    {
        justify-content: flex-start;
        
    }
    .header-menu 
    {
        display: block;
    }
    .header--img 
    {
        position: absolute;
        left: 0%;
    }
    .modal-content 
    {
        width: 100%;
    }
    #header-menu > li 
{
    
    padding: 15px;
    position: relative;
    list-style: none;
    font-size: 20px;
    margin-top: 10px;
}
#slider 
{
    height: 1000px;
    margin-top: 100px;
    background: #020230;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    flex-direction: column-reverse;
}
#slider .slider-all-text
{
    color: #fff;
    padding: 20px;
}
.slider-all-text .all-text-heading 
{
       font-size: 30px;
       margin-bottom: 20px;
       line-height: 40px;
}
.slider-all-text .all-text-about 
{
    margin-bottom: 20px;
    line-height: 28px;
    
}
.slider-all-text .all-text-box 
{
    padding: 13px;
    width: 156px;
    background: #dc3545;
    border-radius: 28px;
    text-align: center;
}
#slider img 
{
    padding: 20px;
    width: 90%;
}
#content .content-heading 
{
    font-size: 15px;
    color: #e83e8c;
    margin-bottom: 0px;
    padding: 10px;
}
#content .content-sec-heading 
{
    font-size: 22px;
    padding: 10px;
}
#content-2 
{
    height: 1500px;
}
#content-2 img 
{
    width: 150px;
}
.content-box-2 
{
    margin-left: 10px;
    margin-right: 10px; 
    width: 296px;
    
}
.content-box-2-about 
{
    width: 200px;
}
#content-3 
{
    flex-direction: column;
}
#content-3 .src-box
{
    width: 100%;
    position: relative;
    background: none;
}
.src-box-txt 
{
    width: 100%;
    border-radius: 0px;
    margin-bottom: 10px;
}
.src-box-sbm 
{
    width: 100%;
   
}
#content-4 
{
    flex-direction: column-reverse;
    height: 900px;
}
#content-4  img 
{
    width: 90%;
    padding: 20px;
}
#content-4 .content-4-sec-heading 
{
    font-size: 23px;
}
#content-4 .content-4-box 
{
    padding: 13px;
}
#content-5 
{
    flex-direction: column;
    height: 700px;
}
.cisco5
{
    display: none;
}
#content-6 
{
    flex-direction: column;
    height: 1200px;
}
.content-6-all-text
{
    margin-bottom: 50px;
}
.content-6-height-box
{
    width: 300px;
    margin-left: 0;
}
.content-6-sm-box 
{
    font-size: 12px;
    width: 80%;
}
.content-6-out-box
{
    padding: 0;
}
#content-7
{
    flex-direction: column-reverse;
}
#content-7 .tsti 
{
    width: 80%;
    margin-bottom: 30px;
    margin: 0;
}
.content-7-all-text 
{
    padding: 20px;
}
#content-8 
{
    flex-direction: column;
    height: 1000px;
}
#content-8 .about-8
{
    width: 120%;
    line-height: 32px;
}
#content-9
{
    height: 1800px;
}
.content-9-box 
{
   width: 220px;
}
.box-txt-9
{
    width: 240px;

}
.box-txt-9
{
    
    bottom: -10%;
    width: 195px;
    height: 150px;
}
#footer i 
{
    color: #fff;
    font-size: 30px;
    margin-top: 12%;
    padding: 10px;
   
}
.all-icon 
{
    margin-left: 3%;
}
}
@media (max-width:300px)
{
    .content-6-height-box 
    {
        display: none;
    }
    #content-6 
    {
        height: 1000px;
    }
}
@media (min-width:671px) and (max-width:1010px){
    #header-nav {
        display: none;
    }
   
    .header-menu 
    {
        display: block;
    }
    .header--img 
    {
        position: absolute;
        left: 0%;
    }
    #slider 
{
    height: 800px;
    margin-top: 100px;
    background: #020230;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}
#slider .slider-all-text
{
    color: #fff;
    padding: 20px;
}
.slider-all-text .all-text-heading 
{
       font-size: 35px;
       margin-bottom: 20px;
       line-height: 45px;
}
.slider-all-text .all-text-about 
{
    margin-bottom: 20px;
    line-height: 28px;
    
}
.slider-all-text .all-text-box 
{
    padding: 10px;
    width: 156px;
    background: #dc3545;
    border-radius: 28px;
    text-align: center;
}
#slider img 
{
    padding: 20px;
    width: 400px;
}
#content-3 
{
    flex-direction: column;
}
#content-4  img 
{
    width: 452px;
    padding: 20px;
}
#content-4 .content-4-sec-heading 
{
    font-size: 23px;
}
#content-4 
{
    flex-direction: column-reverse;
    height: 900px;
}
#content-4  img 
{
    width: 90%;
    padding: 20px;
}
#content-5 
{
    flex-direction: column;
    height: 700px;
}
#content-6 
{
    flex-direction: column;
    height: 1200px;
}
.content-6-all-text
{
    margin-bottom: 50px;
}
#content-7 .tsti 
{
    width: 40%;
}
.content-7-all-text 
{
    padding: 20px;
}
#content-8 
{
    flex-direction: column;
}
#content-9
{
    height: 1800px;
}
.content-4-about 
{
    width: 500px;
}
#footer i 
{
    color: #fff;
    font-size: 30px;
    margin-top: 12%;
    padding: 10px;
   
}
.all-icon 
{
    margin-left: 3%;
}
}
@media (min-width:1201px) 
{
  .content-4-about 
  {
      width: 400px;
  }
  .content-6-about 
   {
       width: 500px;
   }
   .content-7-about 
   {
       width: 500px;
   }
}