*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
#header 
{
    height: 100px;
    position: fixed;
    top:0 ;
    right: 0;
    left: 0;
    bottom: 0;
    background:#020230;
    display: flex;
     align-items: center;
    flex: 1;
    z-index: 99999;
}
.header--img 
{
    padding: 20px;
    position: absolute;
    left: 5%;

}
#header-nav 
{
    position: absolute;
    right: 5%;
}
#header-nav > li 
{
    display: inline-block;
    padding: 15px;
    position: relative;
}
#header-nav > li > a 
{
    color: #fff;
    text-decoration: none;
    transition: 0.4s;
}
#header-nav > li a:hover 
{
    color: #dc3545;

}
#header-nav > :hover .sub-nav 
{
    display: block;
}
#header-nav > :hover  .sub-nav-2
{
    display: block;
}
#header-nav .sub-nav 
{
    display: none;
    position: absolute;
    width: 150px ;
    background: #fff;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    height: 100px;
    top: 100%;
    border-top: 4px solid #dc3545;
    animation: fadedown linear 0.1s;
}
#header-nav .sub-nav-2 
{
    display: none;
    position: absolute;
    width: 150px ;
    background: #fff;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    top: 100%;
    border-top: 4px solid #dc3545;
    animation: fadedown linear 0.1s;
}
#header-nav .sub-nav-2 
{
    height: 50px;
  
}
.sub-nav li 
{
    padding: 10px;
    list-style: none;
}
.sub-nav li a 
{
    text-decoration: none;
    color: #000;
    transition: 0.4s;
}
.sub-nav-2 li a:hover 
{
    color: #dc3545;
}
.sub-nav-2 li 
{
    padding: 15px;
    list-style: none;
}
.sub-nav-2 li a 
{
    text-decoration: none;
    color: #000;
    transition: 0.4s;
}
.sub-nav-2 li a:hover 
{
    color: #dc3545;
}
@keyframes fadedown
{
    from {
       transform: translateY(10%);
    }to {
        transform: translateY(0%);
    }
    
}
.number-box 
{
    background: none;
    border-radius: 24px;
    margin-left: 20px;
    color: #fff;
    
     position: relative;
     border: 1px solid #eb566c;
     cursor: pointer;
     background: #eb566c;
     z-index: 99999;
}
.header-menu 
{
    position: absolute;
    right: 2%;
    top: 10%;
    color: #fff;
    font-size: 35px;
    padding: 20px;
    display: none;
}
.modal
{
    background: #0004;
    position: fixed;
    top:0 ;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 999999;
    display: none;
}
.modal-content 
{
    width: 50%;
    height: 100%;
    background: #fff;
    z-index: 99999;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fadeRight linear 0.4s;
}
.modal-close 
{
    position: absolute;
    top: 0;
    right: 0;
    padding: 20px;
    font-size: 30px;
}
#header-menu > li 
{
    
    padding: 15px;
    position: relative;
    list-style: none;
    font-size: 25px;
    margin-top: 20px;
}
#header-menu > li > a 
{
    color: #000;
    text-decoration: none;
    transition: 0.4s;
}
#header-menu > li a:hover 
{
    color: #dc3545;

}
#header-menu > :hover .sub-nav 
{
    display: block;

}
#header-menu > :hover  .sub-nav-2
{
    display: block;
}
#header-menu .sub-nav 
{
    display: none;
    position: absolute;
    width: 150px ;
    background: #fff;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    height: 100px;
    top: 100%;
    border-top: 4px solid #dc3545;
    animation: fadedown linear 0.1s;
    z-index: 1;
}
#header-menu .sub-nav-2 
{
    display: none;
    position: absolute;
    width: 150px ;
    background: #fff;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    top: 100%;
    border-top: 4px solid #dc3545;
    animation: fadedown linear 0.1s;
    z-index: 1;
    height: 100px;
}
#header-menu .sub-nav-2 
{
    height: 55px;
}

#header-menu .sub-nav-2:hover 
{
    color: #dc3545;
}
.number-box-2 
{
    margin-left: 0;
    border-radius: 30px;
}
.modal.open 
{
    display: flex;
}
@keyframes fadeRight
{
    from {
       transform: translateX(-100%);
    }to {
        transform: translateX(0%);
    }
    
}

.to-top 
{
    position: fixed;
    bottom: 2%;
    right: 2%;
    width: 40px;
    height: 40px;
     border: 4px solid #dc3545;
     border-radius: 50%;
     display: flex;
     justify-content: center;
     align-items: center;
     font-size: 20px;
     display: none;
}
.to-top a 
{
    color: #dc3545;
  
    font-size: 20px;

}
.to-top.active 
{
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fadeUp linear 0.1s;
}
@keyframes fadeUp {
    from{
        transform: translateY(10%);
    }to 
    {
        transform: translateY(0%);
    }
}
#slider 
{
    height: 800px;
    margin-top: 100px;
    background: #020230;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}
#slider .slider-all-text
{
    color: #fff;
    padding: 20px;
}
.slider-all-text .all-text-heading 
{
       font-size: 50px;
       margin-bottom: 20px;
       line-height: 60px;
}
.slider-all-text .all-text-about 
{
    margin-bottom: 20px;
    line-height: 28px;
}
.slider-all-text .all-text-box 
{
    padding: 15px;
    width: 156px;
    background: #dc3545;
    border-radius: 28px;
    text-align: center;
    font-weight: 700;
    z-index: 9999;
    margin-left: 0%;
}
#slider img 
{
    padding: 20px;
}
#content 
{
    height: 400px;
    background: #f8f5f2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#content .content-heading 
{
    font-size: 15px;
    color: #e83e8c;
    margin-bottom: 0px;
    padding: 10px;
}
#content .content-sec-heading 
{
    font-size: 40px;
    padding: 10px;
}
#content-2 
{
    height: 900px;
    display: flex;
    justify-content: center;
    align-items: center;
   flex-direction: row;
   flex-wrap: wrap;
   
}
.content-box-2 
{
    background: #fff;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    height: 450px;
    padding: 20px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
    position: relative;
}
.content-box-2 .first
{
    font-size: 60px;
    margin-top: 20%;
    margin-bottom: 40px;
}
.content-box-2-about 
{
    width: 256px;
     
}
.content-box-2-heading
{
    font-size: 30px;
    margin-bottom:20px;
}
.content-box-2 img 
{
    position: absolute;
    bottom: 0;
    left: 0;
}
.content-box-2:hover .first
{
    color: #e83e8c;
}
.content-box-2:hover .more-detail
{
    color: #e83e8c;
}
.content-box-2-about 
{
    line-height: 28px;
    margin-bottom: 20px;
}
.content-box-2 .number 
{
    position: absolute;
    bottom: 0;
    right: 2%;
    padding: 20px;
    color: #dc3545;
    font-weight: 800;
    text-transform: uppercase;
    font-size: 40px;
}
.content-box-2 .arrow 
{
    background: #020230;
    padding: 5px;
    border-radius: 50%;
    color: #fff;
    margin-right: 10px;
}
.content-box-2:hover .arrow 
{
    background: #e83e8c;
}
#content-3 
{
    background: url('section_bg02.jpg');
   margin-top: 50px;
   background-size: cover;
   background-repeat: no-repeat;
   padding: 15%;
   height: 500px;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: row;
}

.content-3-all-text 
{
    padding: 20px;
    color: #fff;
     
}
#content-3 .content-3-heading 
{
    font-size: 18px;
    color: #e83e8c;
    margin-bottom: 30px;
}
#content-3 .content-3-sec-heading  
{
    font-size: 40px;
    line-height: 50px;
}
#content-3 .src-box
{
    margin-top: 10%;
    background: #fff;
    border-radius: 24px 0px 0px 24px;
}
.src-box-txt 
{
    width: 260px;
    outline: none;
    padding: 10px;
    border: none;
    border-radius: 24px 0px 0px 24px;
}
.src-box-sbm 
{
    background: #dc3545;
    outline: none;
     outline: none;
     color: #f8f5f2;
     border: none;
     padding: 10px;
     padding: 10px;
     appearance: none;
     -webkit-appearance: none !important;
     -moz-appearance: none !important;
     border-radius: 0;
     -webkit-border-radius:0; 
}
#content-4 
{
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#content-4  img 
{
    width: 602px;
    padding: 20px;
}
#content-4  .content-4-all-text
{
    padding: 20px;
}
#content-4 .content-4-heading
{
    font-size: 16px;
    color: #e83e8c;
    margin-bottom: 20px;
}
#content-4 .content-4-sec-heading 
{
    margin-bottom: 15px;
    font-size: 30px;
    line-height: 45px;
}
#content-4 .content-4-about 
{
    font-size: 16px;
    line-height: 28px;
    margin-bottom: 20px;
}
#content-4 .content-4-box 
{
    background: #eb566c;
    border-radius: 30px;
    width: 156px;
    color: #fff;
    border: 2px solid #eb566c;
    padding: 15px;
    text-align: center;
    transition: 0.4s;
    font-weight: 700;
    z-index: 9999;   
    margin-left: 0%;
}
#content-4 .content-4-box:hover 
{
    background: #e83e8c;
}
#content-5 
{
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content-5-all-text
{
    padding: 20px;
}
.content-5-all-text .content-5-heading
{
    font-size: 14px;
    color: #e83e8c;
    margin-bottom: 20px;
} 
.content-5-img-box img 
{
    width: 196px;
}
.content-5-all-text .content-5-sec-heading
{
font-size: 30px;
line-height: 40px;
}
#content-6 
{
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content-6-height-box
{
    padding: 20px;
    text-align: center;
    background:#eb566c;
    color: #fff;
    height: 629px;
    width: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    margin-left: 30px;
}
.content-6-height-box i 
{
    font-size: 30px;
    background: #fce0d8;
    border-radius: 50%;
    border: 2px solid #fce0d8;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    padding: 20px;
    font-weight: 900;
    color: #dc3545;
}
.content-6-price 
{
    padding: 20px;
    margin-bottom: 20px;
    border-bottom: 2px solid #fff;
    padding-bottom: 25px;
}
.content-6-box-about
{
  
  line-height: 32px;
  margin-bottom: 30px;
}
.content-6-sm-box 
{
    background: #fff;
    border: 2px solid #fff;
    color: #000;
    border-radius: 34px;
    font-size: 20px;
    padding: 15px;
    font-weight: 700;
    transition: 0.4s;
    cursor: pointer;
}
.content-6-sm-box:hover 
{
    background: #dc3545;
    color: #fff;
    border: 2px solid #dc3545;
}
.top-img
{
    position: absolute;
    top: 0;
    right: 0%;
}
.bottom-img
{
    position: absolute;
    bottom: 0;
    left: 0;
}
.content-6-all-text
{
    padding: 20px;
    margin-left: 10%;
}
.content-6-heading
{
    font-size: 18px;
    margin-bottom: 20px;
    color: #e83e8c ;
}
.content-6-sec-heading
{
    font-size: 30px;
    margin-bottom: 20px;
}
.content-6-about 
{
    line-height: 28px;
    margin-bottom: 20px;
}
.content-6-out-box
{
    padding: 20px;
}
.sm-weight-box
{
    display: flex;
    border-radius: 32px;
    align-items: center;
    justify-content: space-between;
    width: 100px;
    color: #f8f5f2;
    font-size: 16px;
    
}
.red-box 
{
    padding: 15px;
    border-radius: 24px 0px 0px 24px;
    background: #dc3545;
    font-size: 15px;
    cursor: pointer;
}
.gel-box 
{
    padding: 15px;
    border-radius: 0px 24px 24px 0px;
    background: #fce0d8;
    font-size: 15px;
    color: #000;
    cursor: pointer;
}
#content-7 
{
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.author 
{
    display: flex;
    margin-bottom: 20px;
}
.content-7-heading 
{
    font-size: 12px;
    margin-left: 20px;
    line-height: 35px;
    
}
.content-7-about 
{
    line-height: 28px;
}
.sub-heading-7
{
    color: #e83e8c;
    font-size: 20px;
}
.content-7-all-text 
{
    padding: 20px;
}
#content-7 .tsti 
{
    width:407px;
    margin-left: 100px;
    padding: 20px;
}
#content-8 
{
    background: url('section_bg02.jpg');
   margin-top: 50px;
   background-size: cover;
   background-repeat: no-repeat;
   padding: 15%;
   height: 500px;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: row;
}

.content-8-all-text 
{
    padding: 20px;
    color: #fff;
     padding: 20px;
}
#content-8 .content-8-heading 
{
    font-size: 18px;
    color: #e83e8c;
    margin-bottom: 30px;
}
#content-8 .content-8-sec-heading  
{
    font-size: 40px;
    line-height: 50px;
    margin-bottom: 20px;
}
#content-8 .src-box
{
    margin-top: 10%;
    background: #fff;
    border-radius: 24px 0px 0px 24px;
}
#content-8 .about-8
{
    line-height: 28px;
    width: 470px;
}
#nav-8
{
    color: #fff;
    padding: 20px;
}
#nav-8 li 
{
    display: inline-block;
    text-align: center;
    background: #eb566c;
    padding: 30px;
    height: 130px;
    border-radius: 5px;
    margin-left: 30px;
    width: 150px;
    margin-top: 20px;
}
#nav-8 i 
{
    
    display: flex;
    align-items: center;
    justify-content: center;
    background:#eb566c ;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 50%;
    padding: 10px;
    width: 40px;
    margin-left: 20px;

}
#content-9
{
    height: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.content-9-box 
{
    width:  324px;
    height:300px ;
    background-image: url('blog1.png');
    background-size: 100%;
    margin-left: 20px;
    margin-top: 120px;
    position: relative;
    background-repeat: no-repeat;
}
.box-2 
{
    background-image: url('blog2.png');
}
.box-3
{
    background-image: url('blog3.png');
}
.content-9-box img 
{
    width:  324px;
    height:300px;
}

.content-9-all-text
{
    text-align: center;
    padding: 20px;
}
.content-9-heading
{
    color: #e83e8c;
    font-size: 16px;
    margin-bottom: 20px;
}
.content-9-sec-heading
{
   margin-bottom: 20px;
   font-size: 50px;
}
.content-9-all-box 
{
    display: flex;
    flex-wrap: wrap;

}
.box-txt-9
{
    position: absolute;
    font-size: 10px;
    background: #fff9f9;
    border-radius: 5px;
    bottom: -20%;
    right: 0;
    width: 290px;
    height: 130px;
    padding: 20px;
}
.box-9-heading 
{
    font-size: 14px;
    color: #888;
    margin-bottom: 20px;
    margin-top: 10px;
}
.box-9-sec-heading
{
    line-height: 28px;
}
#footer 
{
    height: 200px;
    background: #020230;
    position: relative;
}
#footer i 
{
    color: #fff;
    font-size: 30px;
    margin-top: 6%;
    padding: 10px;
   
}
.all-icon 
{
    margin-left: 3%;
    position: absolute;
    bottom: 5%;
}


.heading:hover 
{
    color: #fff;
}
.number-box::before
{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #e83e8c;
    z-index: -1;
    transition: transform 0.5s;
    transform-origin: 0 0;
    transition-timing-function: cubic-bezier(0.5,1.6,0.4,0.7);
    border-radius: 24px;

}
.number-box::before 
{
    transform: scaleX(0);
}
.number-box:hover::before 
{
    transform: scaleX(1);
}